.card-top{
    margin: 10px;
    padding: 30px 120px 30px 120px;
    border-radius: 38px;
    background-color: #132790;
    color: white;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
       width: fit-content;
    height: fit-content;
}

@keyframes example{
    0%{
        top: 18rem; 
        opacity: 20%;
    }

    100%
    {
        top: 1.5rem;
        opacity: 100%;
    }
}
.card{
    /* margin-left: 2.75rem; */
    position: relative;
    border-radius: 50px;;
    top: 1.5rem;
    left: 5rem;
    /* justify-content: center;
    align-items: center; */
    width: fit-content;
    height: 600px;
    animation-name: example;
    animation-duration: 1.5s;
}
.card2{
    border-radius: 50px;;
    position: relative;
    top: 1.5rem;
    left: 9rem;
    /* justify-content: center;
    align-items: center; */
    width: fit-content;
    height: 600px;
    animation-name: example;
    animation-duration: 1.5s;
    /* animation-delay: 1s; */
}
.card3{
    border-radius: 50px;;
    position: relative;
    top: 1.5rem;
    left: 13rem;
    /* justify-content: center;
    align-items: center; */
    width: fit-content;
    height: 600px;
    animation-name: example;
    animation-duration: 1.5s;
    /* animation-delay: 1s; */
}
